
<!-- children -->
<section id="children">
  <a name="children"></a>
  <h2>Children</h2>
  <div layout="row">
    <div flex="80">
        
        <p>
          Tell us how many infants, children, and school students live in your household.
        </p>

        <!-- Todo Move to right ??-->


        <p>
        <h3>
          <md-button ng-click="household.incrementChildCount()">+</md-button> 
          Number of Children {{household.childCount}}
        </h3>
    </div>
    <div flex="20">
      <ul>
        <li>Include children who are supported with the household's income even if they are not related to you.</li>
        <li>School students include anyone attending school through grade 12 regardless of their age.</li>
      </ul>
    </div>
  </div>
<!--   <md-list layout="row">
      <md-list-item class="md-2-line" flex="20" ng-repeat="child in household.children" layout="row" layout-wrap>
        <div  class="md-item-text md-whiteframe-z1" flex>
          <h3>Child {{$index + 1}}</h3>
          <p>{{child.firstName}}</p>
        </div>
      </md-list-item>
    </md-list> -->
  <div ng-repeat="child in household.children | limitTo: household.childCount">
    <!-- child names -->
    <label>Child's Name</label>
    <div layout="row">
      <md-input-container>
        <label>First Name</label>
        <input ng-model="child.firstName">
      </md-input-container>
      <md-input-container>
        <label>Middle Initial</label>
        <input ng-model="child.middleInitial">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input ng-model="child.lastName">
      </md-input-container>
    </div>
    
    <!-- Student Status -->
    <div>
      <label>Is this child a student enrolled in the {{schoolDistrict}}?
        <div>
          <md-button ng-click="child.enrolled=true">Yes</md-button>
          <md-button ng-click="child.enrolled=false">No</md-button>
        </div>
      </label>
    <div>

    <!-- Status as qualifying category -->
    <div layout="column">
      <label>Check all that apply for this child:</label>
       <!-- TODO: add aria-label  -->
      <md-checkbox ng-model="child.specialStatus.fosterChild">Foster Child</md-checkbox>
      <md-checkbox ng-model="child.specialStatus.homelessMigrantRunaway">Homeless, Migrant, Runaway</md-checkbox>
      <!-- <md-checkbox ng-model="child.specialStatus.migrant">Migrant</md-checkbox>
      <md-checkbox ng-model="child.specialStatus.runaway">Runaway</md-checkbox> -->
      <md-checkbox ng-model="child.specialStatus.headStartParticipant">Head Start Participant</md-checkbox>

    </div>

    <div layout="row">
      <md-checkbox ng-model="child.assistanceProgram.Participant">Assistance Program Participant(SNAP, TANF, FDPIR)</md-checkbox>
      <md-input-container ng-show="child.assistanceProgram.Participant">
        <label>Case Number</label>
        <input ng-model="child.assistanceProgram.caseNumber">
      </md-input-container>
    </div>
  </div>
</section>