<!--Household -->
<form id="household questionMain" layout="column">
    <h2>Other Household Members</h2>
    <div layout="row">
        <div flex="55" layout-margin="0 18px" >
            <div><label>Tell us how many people live in your household in addition to the students you told us about before. Make sure to include yourself!</label></div>
        </div>
        <md-input-container flex-offset="5" flex="40">
            <label>Other Household Members</label>
            <md-select ng-model="household.otherMembersCount">
                <md-option ng-repeat="number in [1,2,3,4,5,6,7,8,9,10,11,12]" value="{{number}}">
                    {{number}} <span ng-if="number === 1">Other Household Member</span> <span ng-if="number > 1">Other Household Members</span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-card ng-repeat="member in household.otherMembers | limitTo: household.otherMembersCount" class="stdCard" flex="70" layout-padding="5">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Household Member #{{$index + 1}}<span class="md-headline" ng-if="member.firstName">: {{member.firstName}} {{member.lastName}}</span></span>
                <!-- <span class="md-subhead">Large</span> -->
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">

        <!-- child names -->
            <div layout="row">
                <md-input-container flex="3">
                    <label>First Name</label>
                    <input ng-model="member.firstName">
                </md-input-container>
                <md-input-container flex-offset="5" flex="3">
                    <label>Last Name</label>
                    <input ng-model="member.lastName">
                </md-input-container>
            </div>
            <div layout="row">
                <div flex="55" layout="column" layout-align="center start"><label>Does
                    <span ng-if=member.firstName>{{member.firstName}}</span>
                    <span ng-if=!member.firstName>this person</span> have a social security number?</label></div>
                <div yes-no-input model="member.hasSSN" flex-offset="5" flex="40"></div>
                <div class="annotation"> United States citizenship or immigration status is not a condition of eligibility for free and reduced price benefits</div>
            </div>
            <div layout="row" ng-if="member.hasSSN">
                <div flex="55" layout="column" layout-align="center start"><label>
                    What are the last 4 digits of 
                    <span ng-if=member.firstName>{{member.firstName}}'s</span>
                    <span ng-if=!member.firstName>this person's</span>
                    social security number?
                </label></div>
                <md-input-container flex-offset="5" flex="40">
                    <label>Last 4 of SSN</label>
                    <input ng-model="member.last4ssn">
                </md-input-container>
            </div>
            <div member="member" income-questions></div>
        </md-card-content>
    </md-card>
    <md-button class="md-raised md-primary" ng-click="navigateToNextSection()">Next Section</md-button>
</form>
