<div>
  <div ng-repeat="incomeSource in incomeSources" layout="row" ng-show="member.earnsIncome" layout-padding>
    <div flex="30">
      <label>{{incomeSource.label}}</label>
    </div>
    <div flex="65" offset="5">
      <md-input-container flex="45">
        <label>Amount</label>
        <!-- TODO: store this in the right place on member -->
        <input ng-model="member[incomeSource.value].amount" type="number">
      </md-input-container>
      <md-input-container flex="45" offset="5">
        <label>How often?</label>
        <!-- TODO: store this in the right place on member -->
        <md-select ng-model="member[incomeSource.value].frequency">
          <md-option ng-repeat="time in incomeSource.frequency" value="{{time}}">{{time}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="annotation" ng-if="member.isChild">{{incomeSource.annotation.child}}</div>
    <div class="annotation" ng-if="!member.isChild">{{incomeSource.annotation.otherMember}}</div>
  </div>
</div>

