<section>
  <h2>Income</h2>
  <div ng-repeat="child in household.children | limitTo: household.childCount">
      <span>{{child.firstName}} {{child.lastName}}</span>
      
      <!-- TODO: Move to directive?? -->        
      <label>
        Number of Sources of Income
        <button ng-click="child.incrementIncomeSources()">+</button>
      </label>
      <!-- Todo make this correspond to income sources for child -->
      <div ng-repeat="incomeSource in child.incomeSources">
        <label>Source of Income<input type="text"></label>
        <label>Amount<input type="number" minimum="0"></label>
        <label>per <select>
          <option>Week</option>
          <option>every 2 weeks</option>
          <option>Monthly</option>
        </select></label>
      </div>
  </div>

  <div ng-repeat="member in household.otherMembers | limitTo: household.otherMembersCount"class="">
    <span>{{member.firstName}} {{member.lastName}}</span>
    <!-- TODO: Move to directive??         -->
    <label>
        Number of Sources of Income
        <button ng-click="member.incrementIncomeSources()">+</button>
    </label>

      <div ng-repeat="incomeSource in member.incomeSources">
        <label>Source of Income<input type="text"></label>
        <label>Amount<input type="number" minimum="0"></label>
        <label>per <select>
          <option>Week</option>
          <option>every 2 weeks</option>
          <option>Monthly</option>
        </select></label>

  </div>
</section>