<!-- 
<div class="alert alert-danger">{{message}}</div>
 -->
<!-- LOGIN FORM -->
<div flex="60" layout-padding>
    <form action="/login" method="post">
        <div>
            <md-input-container>
                <label>Email Address</label>
                <input ng-model="user.email" type='email' name='email' required>
            </md-input-container>            
        </div>
        <div>
            <md-input-container>
                <label>Password</label>
                <input ng-model="user.password" name='password' type='password' required>
            </md-input-container>            
        </div>
        <md-button type="submit">Login</md-button>
    </form>

    <p>Need an account? <a ui-sref="signup">Signup</a></p>
    <p>Or go <a ui-sref="start">start</a>.</p>        
</div>
