<!-- Signature -->
<form id="signature questionMain" layout="column">
  <h2>Signature & Contact Information</h2>
  <div layout="column">
    <div layout="row" layout-margin="30px 0">
        The final step is to sign and submit your application
    </div>
    <div layout="row">
        <md-input-container>
          <label>Electronic Signature</label>
          <!-- TODO: Add binding to model -->
          <input>
        </md-input-container> 
          <!-- TODO: Autofill? Datepicker? -->
          <md-input-container>
            <label>Today's Date</label>
            <input>
          </md-input-container>
      </div>
  <div layout="row">
    <md-input-container>
        <label>Street Address</label>
        <input>
    </md-input-container> 
  </div>
  <div layout="row">
    <md-input-container>
        <label>City</label>
        <input>
    </md-input-container> 
    <md-input-container>  
        <label>State</label>
        <input>
    </md-input-container> 
    <md-input-container>  
        <label>Zipcode</label>
        <input>
    </md-input-container> 
  </div>
  <div layout="row">
    <md-input-container>  
        <label>Phone Number [optional]</label>
        <input>
    </md-input-container>
    <md-input-container>  
        <label> Email [optional]</label>
        <input>
    </md-input-container>   
  </div>
  <md-button class="md-raised md-primary" ng-click="navigateToNextSection()">Submit Application</md-button>
</form>
