<section>
  <h2>Signature & Contact Information</h2>
  <div>
    <label>Electronic Signature<input type="text"></label>
    <!-- TODO: Autofill? -->
    <label>Today's Date<input type="date"></label>
    <label>Street Address<input type="text"></label>
    <label>City<input type="text"></label>
    <label>State<input type="text"></label>
    <label>Zipcode<input type="text"></label>
    <label>Phone Number [optional] <input type="phone"></label>
    <label>Email [optional] <input type="email"></label>
  </div>
</section>