<div class="start">
    <h2>Getting Started</h2>

    <p>
      This is the application for free or reduced price school meals. You only need to submit one application, even if your children attend different schools.
    </p>

    <p>
      The application must be filled out completely to determine your children's eligibility. However, you can save your progress at anytime and pick up where you left off later.
    </p>

    <p>
      If at any time you are not sure what to do next, please contact [School/school district contact here---phone & email preferred].” 
    </p>

    <p>This is what you'll need to fill out the application:</p>
    <ul>
      <li>First Thing</li>
      <li>Next Thing</li>
      <li>Other thing</li>
    </ul>
    <div layout="row" layout-align="center">
        <md-button class="md-raised start-button" ng-click="navigateToNextSection()">Start a New Application</md-button>
        <!-- <md-button class="md-raised start-button" ui-sref="login">Continue from Where You Left Off</md-button> -->
    </div>
</div>