<p>
  This is the application for free or reduced price school meals. You only need to submit one application, even if your children attend different schools.
</p>

<p>
  The application must be filled out completely to determine your children's eligibility.
</p>

<p>
  If at any time you are not sure what to do next, please contact [School/school district contact here---phone & email preferred].” 
</p>

<p>
  You can create an account and save your progress, as you go or just get started.
</p>

<!-- <button><a ui-sref="question">start here</a></button> -->