<!-- TODO: move to angular view -->
<!DOCTYPE html>
<html>
<head>
  <title> Styleguide</title>
</head>
<body>
<h1>Styleguide</h1>
<section>
  <h2>Typeface</h2>
  <table>
    <thead>
      <th>Class</th>
      <th>Sample</th>
      <th>Font Family</th>
      <th>size/line height</th>
    </thead>
    <tbody>
      <tr class=".heading1">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody> 
  </table>
</section>
<section>
  <h2>Colors</h2>
</section>
<section>
  <h2>Buttons</h2>
  </section>
<section>
  <h2>Icons</h2>
</section>
<style type="text/css" src="/">
</body>
</html>