<div class="confirmation" layout="column">
    <div class="hero-container">
        <img class="hero" src="/images/food-tomato.jpg">
    </div>
    <h2>Hurray! You did it!</h2>
    <p>
        We’ll be in touch as soon as the application has been processed to let you know the results.  You can also contact Sonya Smith at the Oakland Unified School District with any questions at (510) 555-5555  or via email at <a href="mailto:kyle.warneck@gmail.com">Sonya.Smith@OaklandUnified.gov</a>.
    </p>

    <p>
        Thank you so much for your time. Have a great day!
    </p>

    
</div>