<div class="export">
    <div class="hero-container">
        <img class="hero" src="/icons/food-vegetables-meal-kitchen.jpg">
    </div>
    <h2>Export Forms</h2>
    <p>Click below to export forms as a csv:</p>
    <!-- <pre>{{completedApplications[0] | json}}</pre> -->
    <div layout="row" layout-align="center" layout-padding>
        <md-button class="md-primary md-raised" md-no-ink ng-csv="completedApplications" filename="school_lunch_applications.csv"> Export Data</md-button>
    </div>
</div>