<!--Household -->
<form id="questionMain" class="household" layout="column">
    <h2>Other Household Members</h2>
    <p>
        Who else lives in your household? Tell us how many people live in your household who are not the infants, children, and students you told us about before. Make sure to include yourself!
    </p>
    <div layout="row">
        <div class="annotation">
            <p>Please include all members in your household who are:</p>
            <ul>
                <li>Living with you and sharing income and expenses, even if they are not related and even if they do not receive income of their own.</li>
            </ul>
            <p>Do not include:</p>
            <ul>
                <li>People who live with you who are not supported by your household’s income and not contributing income to your household.</li>
                <li>The children and students already included in the Children’s section</li>
            </ul>
        </div>
        <div flex="55" class="count-instructions">
            <div><label>Tell us how many people live in your household in addition to the students you told us about before. Make sure to include yourself!</label></div>
        </div>
        <md-input-container flex-offset="5" flex="40">
            <label>Other Household Members</label>
            <input ng-model="household.otherMembersCount" type="number" min="0"></input>
        </md-input-container>
    </div>
    <md-card ng-repeat="member in household.otherMembers | limitTo: household.otherMembersCount" class="stdCard" flex="70">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Household Member #{{$index + 1}}<span class="md-headline" ng-if="member.firstName">: {{member.firstName}} {{member.lastName}}</span></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">

        <!-- Household names -->
            <div layout="row">
                <md-input-container flex="3">
                    <label>First Name</label>
                    <input ng-model="member.firstName">
                </md-input-container>
                <md-input-container flex-offset="5" flex="3">
                    <label>Last Name</label>
                    <input ng-model="member.lastName">
                </md-input-container>
            </div>
            <div layout="row">
                <div flex="55" layout="column" layout-align="center start"><label>Does
                    <span ng-if=member.firstName>{{member.firstName}}</span>
                    <span ng-if=!member.firstName>this person</span> have a social security number?</label></div>
                <div yes-no-input model="member.hasSSN" flex-offset="5" flex="40"></div>
                <div class="annotation"> United States citizenship or immigration status is not a condition of eligibility for free and reduced price meals.</div>
            </div>
            <div layout="row" ng-if="member.hasSSN">
                <div flex="55" layout="column" layout-align="center start"><label>
                    What are the last 4 digits of 
                    <span ng-if=member.firstName>{{member.firstName}}'s</span>
                    <span ng-if=!member.firstName>this person's</span>
                    social security number?
                </label></div>
                <md-input-container flex-offset="5" flex="40">
                    <label>Last 4 of SSN</label>
                    <input ng-model="member.last4ssn">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-button md-no-ink class="md-raised md-primary" ng-click="navigateToNextSection()">Next Section</md-button>
</form>
