<!-- LOGIN FORM -->
<div>
    <h2>Log In</h2>
    <p> Log in to continue your application from where you left off</p>
    <!-- <div class="alert alert-danger">{{error}}</div> -->
    <div class="alert alert-danger">{{success}}</div>
    <form name="loginForm">
        <md-card>
            <md-card-content>
                <div>
                    <md-input-container>
                        <label>Email Address</label>
                        <input ng-model="user.email" type='email' name='email' required>
                    </md-input-container>            
                </div>
                <div>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" name='password' type='password' required>
                    </md-input-container>            
                </div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end">
               <md-button ng-click="submit()" type="submit" ng-disabled="!loginForm.$valid">Login</md-button>
             </div>
        </md-card>
    </form>

    <div>
        Need an account? 
        <a ui-sref="signup"><md-button md-no-ink>Signup Here</md-button></a>
    </div>
</div>
