<form novalidate>
    <!-- intro -->
    <section id="start">
        <a name="start">
            <h2>Getting Started</h2>
        </a>
        <span>This is where a greeting will go</span>

    </section>

    <!-- children -->
    <section id="children">
        <a name="children"></a>
        <h2>Children</h2>
        <div>
            <h3>
                <button ng-click="household.incrementChildCount()">+</button>
                Number of Children {{household.childCount}}
            </h3>

        </div>
        <!--   <md-list layout="row">
        <md-list-item class="md-2-line" flex="20" ng-repeat="child in household.children" layout="row" layout-wrap>
            <div  class="md-item-text md-whiteframe-z1" flex>
                <h3>Child {{$index + 1}}</h3>
                <p>{{child.firstName}}</p>
            </div>
        </md-list-item>
    </md-list>
    -->
    <div ng-repeat="child in household.children | limitTo: household.childCount">
        <!-- child names -->
        <md-input-container>
            <label>First Name</label>
            <input ng-model="child.firstName"></md-input-container>
        <md-input-container>
            <label>Midle Name</label>
            <input ng-model="child.middleName"></md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input ng-model="child.lastName"></md-input-container>

        <!-- Student Status -->
        <!-- <input placeholder="Status" type="text" ng-model="child.studentStatus">
        -->
        <!-- Status as qualifying category -->
        <div layout="column">
            <!-- TODO: add aria-label  -->
            <md-checkbox md-no-ink ng-model="child.specialStatus.fosterChild">Foster Child</md-checkbox>
            <md-checkbox md-no-ink ng-model="child.specialStatus.homeless">Homeless</md-checkbox>
            <md-checkbox md-no-ink ng-model="child.specialStatus.migrant">Migrant</md-checkbox>
            <md-checkbox md-no-ink ng-model="child.specialStatus.runaway">Runaway</md-checkbox>
            <md-checkbox md-no-ink ng-model="child.specialStatus.headStartParticipant">Head Start Participant</md-checkbox>
        </div>

        <div layout="row">
            <md-checkbox md-no-ink ng-model="child.assistanceProgram.Participant">Assistance Program Participant(SNAP, TANF, FDPIR)</md-checkbox>
            <md-input-container ng-show="child.assistanceProgram.Participant">
                <label>Case Number</label>
                <input ng-model="child.assistanceProgram.caseNumber"></md-input-container>
        </div>
        <div member="member" income-questions></div>
    </div>
</section>

<!--Household -->
<section id="household">
    <a name="household">
        <h2>Other Household Members</h2>
    </a>
    Number of Other People in the Household {{household.otherMembersCount}}
    <button ng-click="household.incrementOtherMembersCount()">+</button>
    <div ng-repeat="member in household.otherMembers | limitTo: household.otherMembersCount"class="">
        <div layout="row">
            <md-input-container>
                <label>First Name</label>
                <input ng-model="member.firstName"></md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input ng-model="member.lastName"></md-input-container>
            <md-input-container>
                <label>Last four digits of SSN</label>
                <input ng-model="member.last4ssn"></md-input-container>
        </div>
        <div member="member" income-questions></div>

    </div>

</section>

<!-- Income -->
<!-- <section id="income">
<h2>Income</h2>
<div ng-repeat="child in household.children | limitTo: household.childCount">
    <span>{{child.firstName}} {{child.lastName}}</span>

    <!-- TODO: Move to directive?? -->
    <!--       <label>
    Number of Sources of Income
    <button ng-click="child.incrementIncomeSources()">+</button>
</label>
<!-- Todo make this correspond to income sources for child -->
<!--       <div ng-repeat="incomeSource in child.incomeSources">
<label>
    Source of Income
    <input type="text"></label>
<label>
    Amount
    <input type="number" minimum="0"></label>
<label>
    per
    <select>
        <option>Week</option>
        <option>every 2 weeks</option>
        <option>Monthly</option>
    </select>
</label>
</div>
</div>

<div ng-repeat="member in household.otherMembers | limitTo: household.otherMembersCount"class="">
<span>{{member.firstName}} {{member.lastName}}</span>
<label>Number of Sources of Income</label>
</div>
</section>
-->
</form>