<ul class="side-nav">
    <li ng-class="{current: currentState === 'start'}">
        <a ui-sref="start">Start Here</a>
    </li>
    <li ng-repeat="section in sections"
        ng-class="{completed: section.completed, 'not-required': !section.required, current: currentState === section.state}">
        <a ui-sref="{{section.state}}">{{section.label}}</a>
    </li>
    <li ng-class="{current: currentState === 'confirmation'}">
        <a ui-sref="confirmation">Confirmation</a>
    </li>
    <!-- <li>
    <a ui-sref="export">Export Data</a>
</li>
<li>
    <a ui-sref="signup">Signup</a>
</li>
<li>
    <a ui-sref="login">Login</a>
</li>
-->
</ul>