<!-- LOGIN FORM -->
<div>
    
    <p>Create an account so that we can save the progress of your application</p>
    <div class="alert alert-danger">{{success}}</div>
    <form novalidate name="signupForm">
        <md-card>
            <md-card-title>
            <md-cart-title-text><span class="md-headline">Create an account</span></md-cart-title-text>
            </md-card-title>
            <md-card-content>
                <div flex="70" layout="row">
                    <md-input-container flex="100">
                        <label>Email Address</label>
                        <input ng-model="user.email" type='email' name='email' required ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }">
                    </md-input-container>            
                </div>
                <div flex="70" layout="row">
                    <md-input-container flex="100">
                        <label>Password</label>
                        <input ng-model="user.password" name='password' type='password' required ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }">
                    </md-input-container>            
                </div>
                <div flex="70" layout="row">
                    <md-input-container flex="100">
                        <label>Confirm Password</label>
                        <input ng-model="confirmPassword" name='confirmPassword' type='password' required ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }">
                    </md-input-container>            
                </div>
                <div ng-if="signupForm.email.$error.email">
                    You must enter a valid email address.
                </div>
                <div ng-if="(user.password !== confirmPassword) && signupForm.password.$dirty && signupForm.confirmPassword.$dirty">
                    Your passwords don't match.
                </div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end">
               <md-button type="submit" ng-click="submit()" ng-disabled="!signupForm.$valid || (user.password !== confirmPassword)">Submit</md-button>
             </div>
        </md-card>
    </form>
    <div>
    <p>Already have an account?<a ui-sref="login"><md-button md-no-ink>Login Here</md-button></a></p>
    <!-- <p>Or<a ui-sref="start"><md-button md-no-ink>Start Over</md-button></a>.</p> -->
    </div>
</div>
