<!-- LOGIN FORM -->
<div flex="60" layout-padding>
    <h2>Sign Up</h2>
    <p>Create an account so that we can save the progress of your application</p>
    <div class="alert alert-danger">{{error}}</div>
    <form action="/signup" method="post">
        <md-card>
            <md-card-content>

                <div>
                    <md-input-container>
                        <label>Email Address</label>
                        <input ng-model="user.email" type='email' name='email' required>
                    </md-input-container>            
                </div>
                <div>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" name='password' type='password' required>
                    </md-input-container>            
                </div>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end">
               <md-button type="submit">Create Account</md-button>
             </div>
        </md-card>
    </form>

    <p>Already have an account?<a ui-sref="login">Login</a></p>
    <p>Or go <a ui-sref="start">start</a>.</p>        
</div>
