<!-- Signature -->
<form id="signature" layout="column">
    <h2 class="md-headline">Signature & Contact Information</h2>
    <p class="md-body-2" layout="row">The final step is to sign and submit your application. This is to confirm that you have finished your application and that all the information is correct.</p>
    <p class="md-body-2">Please agree to the following:</p>
    <div layout="column">
            <p class="md-body-2">
                "The person signing is furnishing true information and to advise that person that the application is being made in connection with the receipt of Federal funds;
            </p>
            <p class="md-body-2">
                School officials may verify the information on the application; and
            </p>
            <p class="md-body-2">
                Deliberate misrepresentation of the information may subject the applicant to prosecution under State and Federal statutes."
            </p>
    </div>
    <md-card layout="row">
        <md-card-content flex layout="column">
            <div layout="row" layout-align="space-between center">
                <md-input-container flex="55">
                    <label>Electronic Signature</label>
                    <input ng-model="household.signature"></md-input-container>
                <md-datepicker flex="40" flex-offset="5" ng-model="household.signedOn" md-placeholder="Today's Date"></md-datepicker>
            </div>
            <div layout="row">
                <md-input-container flex="100">
                    <label>Street Address</label>
                    <input>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>City</label>
                    <input></md-input-container>
                <md-input-container flex="10" flex-offset="5">
                    <label>State</label>
                    <input></md-input-container>
                <md-input-container flex="30" flex-offset="5">
                    <label>Zipcode</label >
                    <input></md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="45">
                    <label>Phone Number [optional]</label>
                    <input></md-input-container>
                <md-input-container flex="45" flex-offset="5">
                    <label>Email [optional]</label>
                    <input type="email">
                </md-input-container>
            </div>
            <div layout="row">
                <div flex="55" layout="column" layout-align="center start"><label>Do you have a social security number?</label></div>
                <div yes-no-input model="member.hasSSN" flex-offset="5" flex="40"></div>
                <div class="annotation md-caption"> United States citizenship or immigration status is not a condition of eligibility for free and reduced price meals.</div>
            </div>
            <div layout="row" ng-if="member.hasSSN" layout-align="center">
                <div flex="55" layout="column" layout-align="center start"><label>
                    What are the last 4 digits of your social security number?
                </label></div>
                <md-input-container flex-offset="5" flex="40">
                    <label>Enter Last 4 Digits of SSN</label>
                    <input ng-model="member.last4ssn">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <div class="actions" layout="row" layout-align="center">
        <md-button md-no-ink class="md-raised " ng-click="goBack()">Go Back</md-button>
        <md-button md-no-ink class="md-raised md-primary" ng-click="submitApplication()">Submit Application</md-button>
    </div>
</form>