<!-- Signature -->
<form id="signature" layout="column">
    <h2>Signature & Contact Information</h2>
    <p layout="row">The final step is to sign and submit your application. This is to confirm that you have finished your application and that all the information is correct.</p>
    <p>Please agree to the following:</p>
    <div layout="column">
            <p>
                "The person signing is furnishing true information and to advise that person that the application is being made in connection with the receipt of Federal funds;
            </p>
            <p>
                School officials may verify the information on the application; and
            </p>
            <p>
                Deliberate misrepresentation of the information may subject the applicant to prosecution under State and Federal statutes."
            </p>
    </div>
    <md-card layout="row">
<!--                 <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Child #{{$index + 1}}
                    <span class="md-headline" ng-if="child.firstName">: {{child.firstName}} {{child.lastName}}</span>
                </span>
            </md-card-title-text>
        </md-card-title> -->
        <md-card-content>
            <div>
                <md-input-container flex="70">
                    <label>Electronic Signature</label>
                    <input ng-model="household.signature"></md-input-container>
                <!-- TODO: Autofill? Datepicker? -->
                <md-input-container flex="25" >
                    <label>Today's Date</label>
                    <input ng-model="household.signedon"></md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Street Address</label>
                    <input></md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>City</label>
                    <input></md-input-container>
                <md-input-container>
                    <label>State</label>
                    <input></md-input-container>
                <md-input-container>
                    <label>Zipcode</label>
                    <input></md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Phone Number [optional]</label>
                    <input></md-input-container>
                <md-input-container>
                    <label>Email [optional]</label>
                    <input></md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <md-button md-no-ink class="md-raised md-primary" ng-click="submitApplication()">Submit Application</md-button>
</form>