<div class="start">
    <div class="hero-container">
        <img class="hero" src="/icons/lunch-cropped.jpg">
    </div>
    <h2>Let’s Get Started!</h2>
    <p>
        Applying for Free and Reduced Price School Meals is easy. With just a few minutes, you can provide us with all the information we need to see if your children qualify.
    </p>

    <p>
        We’ll walk you through the whole process with this online form. There will be instructions to guide you the whole way, but if you’re ever not sure what to do, you can contact Sonya Smith at the Oakland Unified School District, (510)555-555 or Sonya.Smith@OaklandUnified.gov.
    </p>

    <p>
        You only need to go through the form once, even if your children attend different schools. If you want, you can also save your progress at any time and pick up where you left off later. While completing the application does not guarantee free or reduced priced meals for your children, it should only take a few minutes, and there’s no risk at all in applying.
    </p>
        
    <p>
        Why not give it a try? 
<!-- 
        This is the application for Free or Reduced Price School Meals. You only need to submit one application, even if your children attend different schools. -->
    </p>
    <!-- <p>
        The application must be filled out completely to determine your children's eligibility. However, you can save your progress at anytime and pick up where you left off later.
    </p>
    <p>
        If at any time you are not sure what to do next, please contact Sonya Smith at the Oakland School District, (510)555-555 or Sonya.Smith@OaklandUnified.gov.”
    </p> -->

    <p><b>
        Please note that this is only a prototype. Information you enter is not secure and will be visible to contest judges. Please do not enter sensitive information at this time.
    </b></p>
    <div layout="row" layout-align="center">
        <md-button md-no-ink class="md-raised start-button md-primary" ng-click="navigateToNextSection()">Start a New Application</md-button>
        <!-- <md-button class="md-raised start-button" ui-sref="login">Continue from Where You Left Off</md-button> -->
    </div>
</div>