// https://color.adobe.com/Taras-Leg-color-theme-7452077/
// $backgroundColor = #E8F0F4
// $headingFontColor = #1D2E35
// $bodyFontColor = #4F4B41
// $hintFontColor = #688897
// $lineColor = #AD8D73

// from https://coolors.co/app/119da4-e8e9eb-0c7489-13505b-353535
$backgroundColor = #E8E9EB
$headingFontColor = #01579b
// $headingFontColor = #0C7489
$bodyFontColor = #353535
$hintFontColor = #13505B
$lineColor = #119DA4