$lineThickness = 2px

// reset
a, a:hover, a:visited,  a:active
  color inherit
  text-decoration none

body, header, footer, .mainContainer, md-content
  background $backgroundColor

.stdCard
  background $cardColor

header, footer
  text-align center
  padding 20px

.mainContainer
  display flex

.centerCol
  flex 14
  clearfix()
  // border-left $lineThickness solid $lineColor
  // border-right $lineThickness solid $lineColor

.rightCol, .leftCol
  padding 20px

.rightCol
  flex 4
  
.leftCol
  flex 2
  color $hintFontColor
  headingBase()
  
section
  padding 20px
  // border-top $lineThickness solid $lineColor

.stdCard
  max-width 860px

.questionMain
  min-width 550px