// Variables
$centerColMargin = 10px
$lineThickness = 2px
$annotationWidth = 270px
$annotationOffset = -1 * $annotationWidth
$headerHeight = 100px 

// Resets
a, a:hover, a:visited,  a:active
  color inherit
  text-decoration none

h3
  margin-top 8px
  margin-bottom 8px
  
body
  padding 1px 20px

p 
  margin-bottom 10px

section
  padding 20px

header
  text-align center
  // padding 10px 20px
  margin-top -1px
  border-bottom 2px solid grey
  // padding-left 190px
  padding-right 20px
  width 100%
  position fixed
  z-index 100
  background $backgroundColor 
  min-height $headerHeight
  overflow hidden
  
  .logo
    position absolute
    top -42px
    left 0    
    height 190px
    width 190px


  h1
    padding-top 30px
    text-align left

.mainContainer
  margin-top $headerHeight + 10px
  
.leftCol
  headingBase()
  padding-left 20px
  min-width 190px

.centerCol
  flex 14
  min-width 500px
  max-width 900px
  padding 0 $centerColMargin
  position relative
  overflow visible
  clearfix()

.rightCol
  width $annotationWidth
  
// Directives
.annotation
  secondaryFont()
  width $annotationWidth
  position absolute
  right $annotationOffset
  border-left $lineThickness solid blue
  padding-left 10px
  
  ul
    list-style-type disc
    margin 14px 0
    padding-left 20px

  li
    margin 14px 14px
    padding-left 20px

.yes-no
  margin-top 10px
  margin-bottom 10px

.income md-input-container  
  margin 0
  
.child_checkbox_container md-checkbox:last-of-type
  margin-left 0

.race_ethnicity_title,
.race_ethnicity_instructions
  margin-bottom 10px


//pages
.start h2
    margin-bottom 8px
  
  .start-button
    width 200px
    white-space normal
    line-height 24px
    padding 11px

.non-discrimination
  height 400px
  overflow scroll

.children .count-instructions,
.household .count-instructions
  margin-top 14px

.income .child-instructions
  margin-bottom 20px
  
// .stdCard
//   background rgba(52,152,219,0.3);

    