.side-nav
    font-weight 400
    z-index 200
    position relative

    .completed
        color green;
    
    .not-required
        text-decoration: line-through;
        color grey
    
    .current
        font-weight bold
        color teal
        
    li 
        margin 10px 0